{% extends "base.html" %}
{% load static %}
{% block title %}Newsletter{% endblock title %}


{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">Newsletter Signup</h2>
        </div>
        <form method="POST" class="form mt-1 pt-1">
            {% csrf_token %}
            <div class="text-center">
            <fieldset class="mx-2 px-2 grey">
                {% for field in form %}
                {{ field }}
                {% endfor %}
                <br>
                <button class="btn btn-outline-black w-25 mb-2 rounded-0 rounded-pill text-capitalize" type="reset">Clear</button>
                <button class="btn btn-outline-black w-25 mb-2 rounded-0 rounded-pill text-capitalize" type="submit">Submit!</button>
            </fieldset>
                </div>
        </form>
    </div>
</div>

    {% endblock content %}
