{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block title %}Bag{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">Shopping bag</h2>
        </div>
        {% if bag_items %}
        {% comment %}
        <!--There are items in the bag-->
        {% endcomment %}
        <div class="datatable" data-mdb-striped='false' data-mdb-borderless='true' data-mdb-hover='false'
             data-mdb-fixed-header='true' data-mdb-color='grey' data-mdb-full-pagination='false'
             data-mdb-max-width="1800">
            {% comment %}
            <!--the div class datatable is what makes the sorting magic happen -->
            {% endcomment %}
            <table class="table table-sm table-borderless">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.thumbnail.120x120 }}" width="120" height="120">
                            {% else %}
                                <img class="img-fluid rounded" src="{% static 'images/noimage.webp' %}" width="120" height="120">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm qty_input" type="number"
                                               name="quantity" value="{{ item.quantity }}" min="1" max={{item.product.stock}}
                                               data-item_id="{{ item.item_id }}"
                                               id="id_qty_{{ item.item_id }}">
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            {% comment %}
            <!--Outside the sort magic -->
            {% endcomment %}
            <table class="table table-sm table-borderless table-center">
                <tbody>
                    <tr>
                        <td class="pt-5 text-right">
                            <small><strong>Bag Total: ${{ total|floatformat:2 }}</strong></small>
                            <br>
                            <small>Delivery: ${{ delivery|floatformat:2 }}</small><br>
                            <strong class="mt-4">Grand Total: ${{ grand_total|floatformat:2 }}</strong>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <div class="gap-2 d-grid d-md-block">
                                <a href="{% url 'products' %}?genre=classic,electronica,ebm,experimental,industry,spop" class="btn btn-outline-black rounded-0 rounded-pill no-overflow">
                                    <span class="icon">
                                        <i class="fa-solid fa-basket-shopping"></i>
                                    </span>
                                    <span class="text-capitalize">shop some more</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-black rounded-0 rounded-pill no-overflow">
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <span class="text-capitalize">Secure Checkout</span>
                                </a>
                                </div>
                        </td>
                    </tr>
            </table>
            <div class="col text-center">
                <div>We Support:</div>
                <div>
                    <img src="{% static 'images/visa-logo.svg' %}" width="100" height="50" alt="Visa logo" class="search-padding-right">
                    <img src="{% static 'images/mastercard-logo.svg' %}" width="100" height="50" alt="Mastercard logo" class="search-padding-right">
                    <img src="{% static 'images/qliro-logo.svg' %}" width="100" height="50" alt="QLiro logo" class="search-padding-right">
                    <img src="{% static 'images/swish-logo.svg' %}" width="100" height="50" alt="Swish logo" class="search-padding-right">
                </div>
            </div>
        </div>
        {% else %}
        {% comment %}
        <!--The bag is empty -->
        {% endcomment %}
        <div class="row">
            <div class="col text-center">
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}?genre=classic,electronica,ebm,experimental,industry,spop" class="btn btn-outline-black rounded-0 btn-lg rounded-pill">
                    <span class="icon">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <span class="text-capitalize">go shopping</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

        {% endblock content %}

{% block onload_js %}
{{ block.super }}



<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
