{% extends "base.html" %}
{% load static %}
{% block title %}Bag{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">Shopping bag</h2>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if bag_items %}
                <div class="table-responsive rounded"></div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

            {% endblock content %}
