{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">Checkout</h2>
        </div>
        {{ currency }}
        <p>&nbsp;Test</p>
        <img src="https://synth-jt.s3.eu-north-1.amazonaws.com/static/images/readmes/04-middle.webp" />
    </div>
</div>

            {% endblock content %}
