
/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Tangerine|Source Sans 3:bold&display=swap');


:root {
    /* Make sure variables are defined in the root context so available everywhere */
    /*  fonts */
    --main-font: 'Roboto', serif; /* used main text */
    --cursive-font: 'Tangerine', serif; /* used for h1 */
    /* colors */
    --black: #000; /* used for html-background */
    --off-white: #f6f6f6; /* used for h1 */
    --white: #fff; /* used for maintext */
    --red: #FF0000; /* used for disclaimer bar and h1 on startpage*/
    /* utils */
    /* used for forms */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
}

html, body {
    /* use the entire height */
    height: 100%;
}

h1 {
    /* use specific font and color for h1 */
    font-family: var(--cursive-font);
    background-color: var(--black);
    color: var(--off-white);
}

body {
    /* body should use main-font as the font, and use flex display for flexibility */
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    /* appply to the main section. I.e. the part of the page that is not a part of base.html 
        Background should always be black
        Text should always be white
    */
    flex: 1 0 auto;
    background-color: var(--black);
    background: url('/static/images/lps.webp') no-repeat center center fixed;
    background-size: cover;
    color: var(--white);
}

#disclaimer-bar {
    /* the bar at the top should be red to stick out */
    background-color: var(--red);
}

#logo {
    /* style the text-only logo */
    text-transform: uppercase;
    text-shadow: 1px 1px 2px red, 0 0 1em white, 0 0 0.2em black;
}

.core-divs {
    /* makes the main divs slightly opaque and rounded, and sets the main text color */
    background-color: var(--off-white);
    border-radius: 25px;
    color: var(--red);
    opacity: .9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-bottom {
    /* adds space between navbar/footer and main content */
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-header-h2 {
    /* styles the initial h2 of each div */
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--black);
}

.search-padding-right {
    /* adds some space between the searchfield and the shopping bag icon in the header 
        also used for padding right of free-shipping pill
    */
    padding-right: 20px;
}

/* override modal classes */

.modal-title, .modal-body {
    /* text should always be black */
    color: var(--black);
}

.modal-footer {
    /* the footer should not be displayed */
    display: none;
}

/* allauth overide */

ul.errorlist {
    /* remove the bullets from the error ul lists */
    list-style-type: none;
}

/* -------------------------------- Media Queries */
/* Media query: cellphone (max 768px) */
@media screen and (max-width: 768px) {
    .container {
        max-width: 95%;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .container {
        max-width: 95%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Enlarge Container even more on xl */
    .container {
        max-width: 95%;
    }
}

/* x-Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Enlarge Container even more on xl */
    .container {
        max-width: 95%;
    }
}

/* links 
   target-link first is to make sure the links in the navbar are not affected
    categories first is to make sure navlinks in the categories cards (all categories)
    are never shown as links since the card itself is the link.
*/

/* regular links except in navbar */

/* unvisited link */
.target-link a:link {
    color: var(--black);
    text-decoration: underline;
}

/* visited link */
.target-link a:visited {
    color: var(--black);
    text-decoration: underline;
}

/* mouse over link */
.target-link a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
.target-link a:active {
    color: var(--black);
    text-decoration: underline;
}

/* when links are a complete "card" */

/* unvisited link */
.card-link a:link {
    color: var(--black);
    text-decoration: none;
}

/* visited link */
.card-link a:visited {
    color: var(--black);
    text-decoration: none;
}

/* mouse over link */
.card-link a:hover {
    color: var(--black);
    text-decoration: none;
}

/* selected link */
.card-link a:active {
    color: var(--black);
    text-decoration: none;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* back to top of page */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--white);
    color: var(--black);
}

.btt-link {
    cursor: pointer;
    color: var(--red);
}

#nav_shipping {
    color: var(--red);
    background-color: var(--black);
}

/* shop buttons */

.btn-outline-black,
.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}


    .btn-outline-black:hover,
    .btn-outline-black:active,
    .btn-outline-black:focus {
        background: black;
        color: white !important;
        border-radius: 2px;
    }