
/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Tangerine|Source Sans 3:bold&display=swap');


:root {
    /* Make sure variables are defined in the root context so available everywhere */
    /*  fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;
    --cursive-font: 'Tangerine', serif;

    /* colors */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    --grey: #777777;
    --grey2: #999999;
    --red: #FF0000;
    --green: #97aa88aa;
    /* utils */
    /* used for forms */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
}

/* classes for background colors used on its own for styling and not part of another class */


html, body {
    /* use the entire height */
    height: 100%;
}

body {
    /* body should use main-font as the font, and use flex display for flexibility */
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    /* appply to the main section. I.e. the part of the page that is not a part of base.html 
        Background should always be grey
        Text should always be white
    */
    flex: 1 0 auto;
    /*background-image: url("/static/images/vinyl.jpg");*/
    background-color: var(--black);
    color: var(--white);
}

#disclaimer-bar {
    /* the bar at the top should be red to stick out */
    background-color: var(--red);
}

