

hr {
    /* hr in the products pages should be black */
    color: #000;
}

.input-style {
    margin-bottom: 20px;
    border-radius: 10px;
}

select,
select option {
    color: #000000;
}

    select:invalid,
    select option[value=""] {
        color: #aab7c4 !important;
    }
