{% load static %}

<footer>
    <div id="copyright" class="container-fluid d-none d-md-block me-auto mb-2 mb-lg-0 text-center">
            &nbsp;
                Weblayout and code: &copy; The Three-Headed Monkey
    </div>

    {% comment %}
    <!-- social media icons -->

    <!--<a href="https://twitter.com/search?q=amiga%201200&src=typed_query&f=top" target="_blank" rel="noopener" aria-label="Twitter - opens in new tab" class="d-none d-sm-block">
        <img src="{% static 'icons/twitter-square-color-icon.svg' %}" alt="Twitter icon" class="social-icon" width="50" height="50">
    </a>
    <a href="https://www.youtube.com/results?search_query=amiga+1200" target="_blank" rel="noopener" aria-label="Youtube - opens in new tab" class="d-none d-sm-block">
        <img src="{% static 'icons/youtube-square-color-icon.svg' %}" alt="YouTube icon" class="social-icon" width="50" height="50">
    </a>
    <a href="https://www.facebook.com/groups/CommodoreAmiga" target="_blank" rel="noopener" aria-label="Facebook - opens in new tab" class="d-none d-sm-block">
        <img src="{% static 'icons/facebook-square-color-icon.svg' %}" alt="Facebook icon" class="social-icon" width="50" height="50">
    </a>
    <a href="https://github.com/jonthorell/RetroLoversUnited" target="_blank" rel="noopener" aria-label="Github - opens in new tab" class="d-none d-sm-block">
        <img src="{% static 'icons/github-icon.svg' %}" alt="GitHub icon" class="social-icon" width="50" height="50">
    </a>-->

    {% endcomment %}
</footer>