{% load static %}
<header>
    {% comment %}
    <!-- Navbar -->
    {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% comment %}
        <!-- Container wrapper -->
        {% endcomment %}
        <div class="container-fluid">
            {% comment %}
            <!-- Toggle button -->
            {% endcomment %}
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            {% comment %}
            <!-- Collapsible wrapper -->
            {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% comment %}
                <!-- Navbar brand -->
                {% endcomment %}
                <a class="navbar-brand mt-2 mt-lg-0" href="/" id="logo">
                    &#x23;synth.nu
                </a>
                {% comment %}
                <!-- Left links -->
                <!-- Genres -->
                {% endcomment %}
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center pe-2"
                       href="#"
                       id="navbarDropdownMenuGenre"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Genre
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuGenre">
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?genre=classic,electronica,ebm,experimental,industry,spop,euro">All Genres</a>
                        </li>
                        {% for genre in genres %}
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?genre={{genre.name}}">
                                {{ genre.friendly_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% comment %}
                <!-- Media type -->
                {% endcomment %}
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center pe-2"
                       href="#"
                       id="navbarDropdownMenuMediaType"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Media Type
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuMediaType">
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?type=lp,single,ep,maxi">All Media</a>
                        </li>
                        {% for mediatype in mediatypes %}
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?type={{mediatype.name}}">
                                {{ mediatype.friendly_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% comment %}
                <!-- sort -->
                {% endcomment %}
                <div class="dropdown">
                    <a class="text-reset dropdown-toggle d-flex align-items-center pe-2"
                       href="#"
                       id="navbarDropdownMenuSort"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        Sort
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuMediaType">
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Sort by Price</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Sort by Rating</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                {% comment %}
                <!-- Left links -->
                {% endcomment %}
            </div>
            {% comment %}
            <!-- Collapsible wrapper -->
            <!-- Right elements -->
            {% endcomment %}
            {% comment %}
            <!-- display shipping threshold -->
            {% endcomment %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 search-padding-right d-none d-lg-block">
                <li class="nav-item">
                    <span class="nav-link p-2 mt-2 badge badge-white rounded-0 border border-dark rounded-pill" id="nav_shipping">Left to go for free shipping: ${{ free_delivery_delta }}</span>
                </li>
                
            </ul>
            {% comment %}
            <!--Search box-->
            {% endcomment %}
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100 search-padding-right">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search synth.nu">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit" aria-label="search">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="d-flex align-items-center">
                {% comment %}
                <!-- shopping cart Icon -->
                {% endcomment %}
                    <a class="text-reset me-3" href="/bag" data-mdb-popover-init title="Shopping bag contains products with a value of {{ grand_total|floatformat:2 }}">
                        <i class="fas fa-shopping-cart">
                            {% if product_count %}
                            <span class="badge rounded-pill badge-notification bg-danger" id="cart">{{ product_count }}</span>
                            {% else %}
                            <span class="badge rounded-pill badge-notification bg-danger" id="cart"></span>
                            {% endif %}
                        </i>
                    </a>


                {% comment %}
                <!-- Avatar -->
                {% endcomment %}
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        {% if user.is_authenticated %}
                        {% comment %}
                        <!--is user logged in? -->
                        {% endcomment %}
                        {% if not user.userprofile.image %}
                        <img src="{{ MEDIA_URL }}avatars/default-user.webp"
                             class="rounded-circle"
                             height="25"
                             width="25"
                             alt="Default user logo"
                             loading="lazy">
                        {% else %}
                        <img src="{{ MEDIA_URL }}{{user.userprofile.image}}"
                             class="rounded-circle"
                             height="25"
                             width="25"
                             alt="Default user logo"
                             loading="lazy" />
                        {% endif %}
                        {% else %}
                        <img src="{{ MEDIA_URL }}avatars/not-logged-in.webp"
                             class="rounded-circle"
                             height="25"
                             width="25"
                             alt="Shield indicating you are not logged in"
                             loading="lazy">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        {% if user.is_authenticated %}
                        {% comment %}
                        <!--is user logged in? -->
                        {% endcomment %}
                        <li>
                            <a class="dropdown-item disabled sans-font" href="#"> {{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        {% comment %}
                        <!--Check if user is member of staff, if so: add link-->
                        {% endcomment %}
                        {% for group in user.groups.all %}
                        {% if group.name == 'staff' %}
                        <li>
                            <a class="dropdown-item" href="/staff"><i class="fa-solid fa-screwdriver-wrench pe-2"></i>Staff: Administration</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% for group in user.groups.all %}
                        {% comment %}
                        <!--Check if user is member of admin, if so: add link-->
                        {% endcomment %}
                        {% if group.name == 'admin' %}
                        <li>
                            <a class="dropdown-item" href="/admin"><i class="fa-solid fa-screwdriver-wrench pe-2"></i>Django admin</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-alt pe-2"></i>My Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-door-open pe-2"></i>Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item disabled sans-font" href="#"> You are not logged in</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/accounts/signup"><i class="fa-solid fa-plus pe-2"></i>Create account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/accounts/login"><i class="fas fa-door-open pe-2"></i>Login</a>
                        </li>
                        {% endif %}
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'view_bag' %}"><i class="fa-solid fa-bag-shopping"></i> Goto bag</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'checkout' %}"><i class="fa-regular fa-money-bill-1"></i> Goto Checkout</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'newsletter' %}"><i class="fa-regular fa-newspaper"></i> Newsletter</a>
                        </li>

                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="/privacy"><i class="fa-solid fa-circle-exclamation pe-2"></i>View Privacy Policy</a>
                        </li>

                    </ul>
                </div>
            </div>
            {% comment %}
            <!-- Right elements -->
            {% endcomment %}
        </div>
        {% comment %}
        <!-- Container wrapper -->
        {% endcomment %}
    </nav>
    {% comment %}
    <!-- Navbar -->
    {% endcomment %}
</header>
