{% extends "base.html" %}
{% load static %}
{% block title %}Main-page{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md border-end text-center" id="left_div">
            <h2 class="div-header-h2">New Arrivals</h2>
            <p>Line 1</p>
            <p>Line 2</p>
            <p>Line 3</p>
            <p>Line 4</p>
            <p>Line 5</p>
            <p>Line 6</p>
            <p>Line 7</p>
            <p>Line 8</p>
            <p>Line 9</p>
        </div>
        <div class="col-md border-start text-center" id="right_div">
            <h2 class="div-header-h2">Special Deals and News</h2>
            <p>Memento Mori on sale!</p>
            <p>Box of Ultravox albums available!</p>
            <p>Synthbands paying tribute to Johnny Cash!</p>
        </div>
    </div>
</div>

 {% endblock content %}

{% block onload_js %}
{{ block.super }}
<script src="{% static 'core/javascript/coreapp_index.js' %}">
</script>
{% endblock %}