{% extends "base.html" %}
{% load static %}
{% block title %}Main-page{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md border-end text-center" id="left_div">
            <h2 class="div-header-h2">New Arrivals</h2>
            <p class="text-md-start">Line 1</p>
            <p class="text-md-start">Line 2</p>
            <p class="text-md-start">Line 3</p>
            <p class="text-md-start">Line 4</p>
            <p class="text-md-start">Line 5</p>
            <p class="text-md-start">Line 6</p>
            <p class="text-md-start">Line 7</p>
            <p class="text-md-start">Line 8</p>
            <p class="text-md-start">Line 9</p>
        </div>
        <div class="col-md border-start text-center" id="right_div">
            <h2 class="div-header-h2">Special Deals and News</h2>
            {% for newsfeed in newsfeeds %}
            <p class="text-md-end">
                <i class="fa-regular fa-star">&nbsp;</i>

                {{ newsfeed.title }}
                <button type="button"
                        class="btn btn-link m-1"
                        data-mdb-ripple-color="dark"
                        data-mdb-toggle="modal"
                        data-mdb-target="#info-modal"
                        data-mdb-title="{{newsfeed.title}}"
                        data-mdb-body="{{newsfeed.description}}">
                    Info
                </button>
                <span class="published"><br />Published: {{ newsfeed.created_on }}</span>

            </p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="info-modal" data-mdb-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal Title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

 {% endblock content %}

{% block onload_js %}
{{ block.super }}
<script src="{% static 'core/javascript/coreapp_index.js' %}">
</script>
{% endblock %}