{% extends "base.html" %}
{% load static %}
{% block title %}Main-page{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md border-end text-center card-link" id="left_div">
            <h2 class="div-header-h2">New Arrivals</h2>
            <table class="table-responsive">
                <tr>
                    <th> </th>
                    <th> </th>
                </tr>
                {% for product in products %}
                <tr>
                    {% comment %}
                    <!--The idea of having both the image and the p link to the same url is to make the ""entire"" row of the table
                    be clickable to get to the product detail. Combined with the card-link class to override what links look like
                        makes it sort-of like a card from bootstrap but with some additional layout functionality
                        -->
                    {% endcomment %}
                    <td>
                        <a href="{% url 'product_detail' product.id %}">
                            {% if product.image %}
                            <img src="{{ product.image.thumbnail.120x120 }}" alt="{{ product.name }}" width="120" height="120">
                            {% else %}
                            <img src="{% static 'images/noimage.webp' %}" width="100" height="100" alt="No product image">
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'product_detail' product.id %}">
                            <p class="text-md-start">
                                Title: {{ product.name }}
                                <br>Artist: {{ product.artist }}
                                <span class="published"><br>Added: {{ product.created_on|date:"M j, Y" }}</span>
                            </p>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md border-start text-center" id="right_div">
            <h2 class="div-header-h2">News</h2>
            {% for newsfeed in newsfeeds %}
            <p class="text-md-end">
                <i class="fa-regular fa-star">&nbsp;</i>
                <span class="black-text">{{ newsfeed.title }}</span>
                <span class="gap-2 d-grid d-md-block">
                    <button type="button"
                            class="btn m-1 ml-3 btn-primary no-overflow"
                            data-mdb-ripple-color="dark"
                            data-mdb-toggle="modal"
                            data-mdb-target="#info-modal"
                            data-mdb-title="{{newsfeed.title}}"
                            data-mdb-body="{{newsfeed.description}}">
                        Info
                    </button>
                    </span>
                    {% comment %}
                    <!--Only add the edit/delete links if the user is in the staff group-->
                    {% endcomment %}

                    {% for group in user.groups.all %}
                    {% comment %}
                    <!--Iterate over the groups of the current user
        If user is a member of group staff, add the links-->
                    {% endcomment %}
                    {% if group.name == 'staff' %}
                    <span>
                        <small class="ml-3">
                            <a href="{% url 'editnews' newsfeed.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                            <a class="text-danger" href="{% url 'deletenews' newsfeed.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                        </small>
                    </span>
                    {% endif %}
                    {% endfor %}
                    <span class="published black-text"><br />Published: {{ newsfeed.created_on|date:"M j, Y" }}</span>
            </p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="info-modal" data-mdb-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal Title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                Empty footer
            </div>
        </div>
    </div>
</div>

 {% endblock content %}

{% block onload_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'core/javascript/coreapp_index.js' %}"></script>
{% endblock %}