{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">
{% endblock %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">About</h2>
            <p>Welcome to synth.nu!</p>
            <p>Your one-stop online store for synthbased music.</p>
            <p>On vinyl! The ultimate record format.TEST</p>
            <p>Our privacy policy can be accessed <a href="/privacy">here</a>.</p>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row core-divs">
        <div class="col-md text-center">
            <h3 class="div-header-h2">Credits</h3>
            <p>Some technologies and helper-sites that powers the site and without which this site would not have been possible.</p>
            <table class="table table-striped table-hover table-borderless align-middle mb-0 table-responsive">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody class="background">
                    <tr>
                        <td>
                            <a href="https://www.python.org/" target="_blank">Python</a>
                        </td>
                        <td>
                            <p class="td-desc">Used both for administrative tasks and as backend.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.djangoproject.com/" target="_blank">Django</a>
                        </td>
                        <td>
                            <p class="td-desc">The backend framework the entire site relies on.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.postgresql.org/" target="_blank">PostgresSQL</a>
                        </td>
                        <td>
                            <p class="td-desc">The database engine used.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://mdbootstrap.com/" target="_blank">Materialize bootstrap (MDB)</a>
                        </td>
                        <td>
                            <p class="td-desc">The front-end frame-work used.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
                        </td>
                        <td>
                            <p class="td-desc">Some nice additonal iconography used here and there to make the site look nicer.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
                        </td>
                        <td>
                            <p class="td-desc">Used for some very nice webfonts.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://commons.wikimedia.org/w/index.php?curid=56260127" target="_blank">Evan Amos</a>
                        </td>
                        <td>
                            <p class="td-desc">The creator of the LP image used in the toasts. Public Domain, scaled to a more suitable size.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://unsplash.com/photos/black-vinyl-record-on-black-vinyl-record-fi3_lDi3qPE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Eric Krull</a>
                        </td>
                        <td>
                            <p class="td-desc">The creator of the background image.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>
                        </td>
                        <td>
                            <p class="td-desc">User related icons were taken from here.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.vecteezy.com/free-vector/shopping" target="_blank">Shopping Vectors by Vecteezy</a>
                        </td>
                        <td>
                            <p class="td-desc">The creator of the checkout-success shopping bag image.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <img src="{{ MEDIA_URL }}avatars/default-user.webp" width='20' height='20' alt="User icon">
                                <img src="{{ MEDIA_URL }}avatars/not-logged-in.webp" width='20' height='20' alt="User is not logged in icon">
                            </span>
                        </td>
                        <td>
                            <a href="https://www.flaticon.com/authors/good-ware" target="_blank">Artist: good-ware</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    {% endblock content %}
