<div class="alert fade show"
     id="alert-info"
     role="alert"
     data-mdb-color="info"
     data-mdb-position="top-center"
     data-mdb-stacking="true"
     data-mdb-width="65%"
     data-mdb-append-to-body="true"
     data-mdb-autohide="true"
     data-mdb-delay="8000">
    <img src="https://synth-jt.s3.eu-north-1.amazonaws.com/static/images/transparant_vinyl.webp" height="40" width="40" alt="Record" loading="lazy">
    <strong><i class="fa-solid fa-circle-info"></i>  Information:</strong>
    {{ message | safe }}
</div>