{% extends "base.html" %}
{% load static %}

{% block title %}Add News{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'staff/css/news.css' %}">
{% endblock %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">News Management</h2>
            <h5>Add News Item</h5>
        </div>
                <form method="POST" action="{% url 'add_news' %}" class="form mt-1 pt-1 custom-form-control custom-form-control-sm" id="news-update-form"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field }}
                    {% endfor %}
                    <div class="text-right">
                        <div>&nbsp;</div>
                        <div class="gap-2 d-grid d-md-block">
                            <a class="btn btn-outline-black rounded-0 rounded-pill text-capitalize no-overflow" href="/staff"><i class="fa-solid fa-ban"></i> Cancel</a>
                            <button class="btn btn-outline-black rounded-0 rounded-pill text-capitalize no-overflow" type="submit"><i class="fa-solid fa-plus"></i> Add News</button>
                        </div>
                        </div>
</form>
     </div>
</div>
            {% endblock content %}