{% extends "base.html" %}
{% load static %}
{% block title %}Staff{% endblock title %}



{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md text-center">
            <h2 class="div-header-h2">Staff Page</h2>
            <div class="gap-2 d-grid d-md-block">
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="{% url 'add_product' %}">
                    <span class="no-overflow text-capitalize">Add Product</span>
                </a>
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="{% url 'add_genre' %}">
                    <span class="no-overflow text-capitalize">Add Genre</span>
                </a>
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="{% url 'add_news' %}">
                    <span class="no-overflow text-capitalize">Add News item</span>
                </a>
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="/staff/approve_review">
                    <span class="no-overflow text-capitalize">Approve reviews</span>
                </a>
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="/staff/handle_messages">
                    <span class="no-overflow text-capitalize">Handle Contact Form Messages</span>
                </a>
                <a class="btn btn-outline-black rounded-0 rounded-pill text-decoration-none no-overflow" href="/staff/view_orders">
                    <span class="no-overflow text-capitalize">View All Orders</span>
                </a>
            </div>
        </div>
    </div>
</div>

 {% endblock content %}