{% extends "base.html" %}
{% load static %}
{% block title %}Staff{% endblock title %}



{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-12 col-md-6 text-center">
            <h2 class="div-header-h2">Staff Page</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <a class="category-badge text-decoration-none" href="{% url 'add_product' %}">
                    <span class="btn btn-outline-black rounded-0 rounded-pill text-capitalize">Add Product</span>
                </a>
                <a class="category-badge text-decoration-none" href="{% url 'add_genre' %}">
                    <span class="btn btn-outline-black rounded-0 rounded-pill text-capitalize">Add Genre</span>
                </a>
                <a class="category-badge text-decoration-none" href="{% url 'add_news' %}">
                    <span class="btn btn-outline-black rounded-0 rounded-pill text-capitalize">Add News item</span>
                </a>
            </div>
        </div>
    </div>
</div>

 {% endblock content %}