{% extends "base.html" %}
{% load static %}
{% block title %}Product Details{% endblock title %}

{% block content %}

<div class="container container-bottom">
    <div class="row core-divs">
        <div class="col-md" id="left_div">
            <!--<h2 class="div-header-h2">Product Details</h2>-->
            <table class="table-responsive">
                <tr>
                    <th> </th>
                    <th> </th>
                </tr>
                
                <tr>
                    <td>
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="200" />
                        </a>
                        {% else %}
                        <a href="{% static 'images/noimage.jpg' %}" target="_blank">
                            <img src="{% static 'images/noimage.jpg' %}" width="200" height="200" alt="No product image">
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <p class="text-md-start">
                            Title: {{ product.name }}
                            <br />Artist: {{ product.artist }}
                            <br />Added: {{ product.created_on|date:"M j, Y" }}
                        </p>
                        <p class="text-md-start">
                        <small class="mb-0 text-left font-weight-bold">
                            Price: {{ product.price }}</small>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 text-left text-muted">Description: {{ product.description }}</p>
                                    {% if product.rating %}
                                    <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value={{product.rating}}>
                                        <li><i class="far fa-star fa-sm" data-mdb-color="#FF0000"></i></li>
                                        <li><i class="far fa-star fa-sm" data-mdb-color="#FF0000"></i></li>
                                        <li><i class="far fa-star fa-sm" data-mdb-color="#FF0000"></i></li>
                                        <li><i class="far fa-star fa-sm" data-mdb-color="#FF0000"></i></li>
                                        <li><i class="far fa-star fa-sm" data-mdb-color="#FF0000"></i></li>
                                    </ul>
                                    {% else %}
                                    <small class="mb-0 text-left text-muted">No Rating</small>
                                    {% endif %}
                                    <small class="mb-0 text-left text-muted"><br />Genre: 
                                                                             <a href="{% url 'products' %}?genre={{product.genre.name}}">
                                                                                 {{ product.genre }}
                                                                             </a>
                                        </small>
                                    {% if product.stock > 0 %}
                                    <small class="mb-0 text-left text-muted"><br />Stock: {{ product.stock }}</small>
                                    {% else %}
                                    <small class="mb-0 text-left font-weight-bold"><br />Stock: Not in stock</small>
                                    {% endif %}
                                    <small class="mb-0 text-left text-muted"><br />Media Format: {{ product.media_format }}</small>
                                    {% if product.media_color == 0 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Black</small>
                                    {% elif product.media_color == 1 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Gold</small>
                                    {% elif product.media_color == 2 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Red</small>
                                    {% elif product.media_color == 3 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Green</small>
                                    {% elif product.media_color == 4 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Picture</small>
                                    {% elif product.media_color == 5 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Transparant</small>
                                    {% elif product.media_color == 6 %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Blue</small>
                                    {% else %}
                                    <small class="mb-0 text-left text-muted"><br />Media Color: Other</small>
                                    {% endif %}

                                    {% if product.new_old == 1 %}
                                    <small class="mb-0 text-left text-muted"><br />Status: Second-hand</small>
                                    {% else %}
                                    <small class="mb-0 text-left text-muted"><br />Status: New</small>
                                    {% endif %}
                                </div>
                            </div>
                    </td>
                </tr>
                
            </table>
        </div>
        <div class="col-md text-center" id="right_div">
            <!--<h2 class="div-header-h2">Add to bag</h2>-->
            <p>Add to bag form will be here</p>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="info-modal" data-mdb-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal Title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                Empty footer
            </div>
        </div>
    </div>
</div>

 {% endblock content %}

{% block onload_js %}
{{ block.super }}
<script src="{% static 'core/javascript/coreapp_index.js' %}">
</script>
{% endblock %}